/*
https://www.w3schools.com/howto/howto_css_parallax.asp
*/

body, html, main, section {
    height: 100%; /* this is a must for parallax. */
    font-size: 100%;
    background-color: white;
  }
  
.parallax {
  position: relative;
  opacity: 0.8;
  
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text p {
  font-size: 90%;
  text-align: justify;
  padding-left: 10%;
  padding-right: 10%;

}
  
#bg1 {
    background-image: url("../img/vaaka_lehmat.jpg");
    height: 100%;
}
  
#bg2 {
  background-image: url("../img/vaaka_halli.jpg");
  height: 80%; 
}

#bg3 {
  background-image: url("../img/vaaka_finlayson.jpg");
  height: 80%;
}

#bg4 {
  background-image: url("../img/vaaka_nekala.jpg");
  height: 80%;
}

#bg5 {
  background-image: url("../img/vaaka_taide.jpg");
  height: 80%;
}

#bg6 {
  background-image: url("../img/vaaka_vilunen.jpg");
  height: 100%;
}

.caption {
  position: absolute;
  left: 0%;
  top: 50%;
  width: 100%;
  text-align: center;  
}

.caption span.border {
  background-color: #026670;
  color: #fff;
  padding: 18px;
  font-size: 1.5em;
  letter-spacing: 10px;
  line-height: 2em;
}

.caption2 {
  position: absolute;
  left: 0%;
  top: 50%;
  width: 100%;
  text-align: center;  
}

.caption2 span.border {
  background-color: white;
  color: #026670;
  border: none !important;
  padding: 12px;
  font-size: 2em;
  letter-spacing: 10px;
}

.text {
    padding: 30px 100px 30px 100px;
    position: relative;
}

.text h3 {
    text-align: center;
}

.bgblue {
  background-color: #026670;
}

.bgblue p{
  background-color: #026670;
  color: #fff;
}

.bgblue h3 {
  background-color: #026670;
  color: #fff;
}

a {
  color: #F4976C;
}
a:hover {
  color: #FCE181;
}

.bgblue a {
  color: #FCE181;
}
.bgblue a:hover {
  color: #F4976C;
}

.pfooter {
  background-color: white !important;
}

.pfooter p {
  color: #026670;
  font-size: 100%;
}

.text {
  padding: 30px 10px 30px 10px !important;
  position: relative;
}

  
  /* Turn off parallax scrolling for all tablets and phones. 
  Increase/decrease the pixels if needed. Test what is the proper value 
  for your larger screens and smaller screens. */
  @media screen and (max-width: 640px) {
      .parallax {
          background-attachment: scroll;
      }
      
      .text {
          padding: 30px 10px 30px 10px;
          position: relative;
      }     
  }
  
  