/*
https://www.w3schools.com/howto/howto_css_parallax.asp
*/

body, html, main {
    height: 100%; /* this is a must for parallax. */
    font-size: 100%;
  }
  
.parallax {
  position: relative;
  opacity: 0.8;
  
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
  
#bg1 {
    background-image: url("../img/vaaka_lehmat.jpg");
    height: 100%;
}
  
  #bgimg-3 {
    background-image: url("../img/kauppahalli.jpg");
    height: 100%; 
  }
  
  #bgimg-3 {
    background-image: url("../img/vaaka_finlayson.jpg");
    height: 60%;
  } 
  
  .caption {
    position: absolute;
    left: 0%;
    top: 50%;
    width: 100%;
    text-align: center;  
  }
  
  .caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 1.5em;
    letter-spacing: 10px;
    line-height: 2em;
  }
  
  .text {
      padding: 30px 100px 30px 100px;
      position: relative;
  }
  
  .text h3 {
      text-align: center;
  }
  
  /* Turn off parallax scrolling for all tablets and phones. 
  Increase/decrease the pixels if needed. Test what is the proper value 
  for your larger screens and smaller screens. */
  @media screen and (max-width: 640px) {
      .parallax {
          background-attachment: scroll;
      }
      
      .text {
          padding: 30px 10px 30px 10px;
          position: relative;
      }     
  }
  
  