@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

main {
    font-family: 'Quicksand', sans-serif;
    background-color: #D1E8E2;
    color: #026670;
}

p {
    color: #026670;
}

header {
    background-color: #026670;
    color: white;
}

footer {
    background-color: #026670;
    color: white;
    padding-top: 10px;
}

footer p {
    color: white;
    font-size: 85%;
}

.navbar {
    background-color: #FEF9C7 !important;
}

#valikko {
    background-color: #FEF9C7;
}

#valikko a {
    color: #026670;
}

#valikko a:hover {
    background-color: #FCE181;
    color: white;
}

.index a {
    color: #F4976C;
}

.index a:hover {
    color: white;
}

.card {
    font-size: 80%;
    height: 100%;
}

.korttilinkki {
    text-decoration: none;
    color: #026670;
}

a {
    text-decoration: none;
    color: #026670;
}

a:hover {
    color: #F4976C;
}

.korttilinkki:hover {
    color: #F4976C;
}

.quiz li{
 list-style-type: none;   
 padding-left: 40px;
}

.quiz p{
    margin-bottom: 30px;
}

.quiz ul {
    padding-left: 0;
}

.quiz h6 {
    font-weight: bold;
    margin-top: 15px;
}

.form-check p {
    font-style: italic;
}

.visa {
    border-top: 1px dashed #026670;
    padding-left: 0;
}

.selected1 {
    background-color: green;
    color: white;
}

.wrong {
    background-color: red;
}

.right {
    font-weight: bold;
}

.not_visible {
    display: none;
}

#scorespan {
    font-style: normal;
    font-weight: bold;
}

.selected {
    background-color: deepskyblue;
}

[data-bs-toggle="popover"] {
    cursor: pointer;
}

a[data-bs-toggle="popover"]:focus {
    outline: none;
}

#bmismall {
    font-size: 50%;
    font-weight: bold;
}

.fa-question-circle {
    color: blue;
}

.gallery {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    /* padding: 10px 20px 20px 20px;  */

}

img {
    max-width: 100%;
} 


